@model Lyzic.Models.AccountManager

@{
    ViewData["Title"] = "Sign in";
}


<!-- main content -->
<main class="main">
    <div class="container-fluid">
        <div class="row row--grid">
            <!-- breadcrumb -->
            <div class="col-12">
                <ul class="breadcrumb">
                    <li class="breadcrumb__item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb__item breadcrumb__item--active">Sign in</li>
                </ul>
            </div>
            <!-- end breadcrumb -->

            <!-- sign in -->
            <div class="col-12">
                <div class="sign">
                    <div class="sign__content">
                        <!-- authorization form -->
                        <form asp-controller="Token" asp-action="Login" class="sign__form">
                            <a href="index.html" class="sign__logo">
                                <img src="img/logo.svg" alt="">
                            </a>

                            <div class="sign__group">
                                <input
                                asp-for="UserName" type="text" class="sign__input" placeholder="Email"
                                >
                            </div>

                            <div class="sign__group">
                                <input type="password" 
                                asp-for="PassWord"
                                class="sign__input" placeholder="Password">
                            </div>

                            <div class="sign__group sign__group--checkbox">
                                <input id="remember" name="remember" type="checkbox" checked="checked">
                                <label for="remember">Remember Me</label>
                            </div>

                            @if (TempData["message"] != null)
                            {
                                <p class="error-msg">@TempData["message"]</p>
                            }
                                                        
                            <button type="submit" class="sign__btn" type="button">Sign in</button>

                            <span class="sign__text">Don't have an account? <a asp-controller="Account" asp-action="SignUp">Sign up!</a></span>

                            <span class="sign__text"><a href="forgot.html">Forgot password?</a></span>
                        </form>
                        <!-- end authorization form -->
                    </div>
                </div>
            </div>
            <!-- end sign in -->
        </div>
    </div>
</main>
<!-- end main content -->
