@model Lyzic.Models.Music

@{
    ViewData["Title"] = "Edit";
}


<div class="az-content pd-y-20 pd-lg-y-30 pd-xl-y-40">
    <div class="container">
    <div class="az-content-left az-content-left-components">
        <div class="component-item">
        <label>Quản lý Music</label>
        <nav class="nav flex-column">            
            <a href="#" class="nav-link active">Thông tin chung</a>
            <a href="#" class="nav-link">Bình luận</a>
            @* <a href="#" class="nav-link active">Thể loại</a> *@

        </nav>

        </div><!-- component-item -->

    </div><!-- az-content-left -->
    <div class="az-content-body pd-lg-l-40 d-flex flex-column">
        <div class="az-content-breadcrumb">
        <span>Music</span>
        <span>Thông tin chung</span>
        <span>Thêm mới</span>
        </div>




        

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="ID" class="control-label"></label>
                        <input asp-for="ID" class="form-control" />
                        <span asp-validation-for="ID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Author" class="control-label"></label>
                        <input asp-for="Author" class="form-control" />
                        <span asp-validation-for="Author" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Singers" class="control-label"></label>
                        <input asp-for="Singers" class="form-control" />
                        <span asp-validation-for="Singers" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Lyric" class="control-label"></label>
                        <textarea asp-for="Lyric" rows="5" class="form-control" placeholder="Textarea"></textarea>

                        <span asp-validation-for="Lyric" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MediaImageCover" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="MediaImageCover" type="file" class="custom-file-input" id="customFile" oninput="fileNameUploaded.textContent = this.files[0].name">
                            <label class="custom-file-label" id="fileNameUploaded" name="fileNameUploaded" for="MediaImageCover">Choose file</label>
                        </div>
                        <span asp-validation-for="MediaImageCover" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Index">Back to List</a>
        </div>

        <div class="ht-40"></div>














        <div class="az-footer mg-t-auto">
        <div class="container">
            <span>&copy; 2019 Azia Responsive Bootstrap 4 Dashboard Template</span>
        </div><!-- container -->
        </div><!-- az-footer -->
    </div><!-- az-content-body -->
    </div><!-- container -->
</div><!-- az-content -->



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
