@model string

@* @page "/aboutrazor.html" *@

@{
    Layout = "_Layout";
}


<h1>Giới thiệu Razor @Model</h1>
<p>
    Razor is a template engine in .NET that default of ASP.NET, have feature render HTML from view
</p>

@this.Path